- nav_locals = {title: title, shelves: shelves, link_mode: :my_books, active_shelf: @shelf, new_path: new_shelf_path}
- nav_locals[:show_all_link] = {label: detone(t("books.all")), path: my_books_path} if @shelf.present?
= render partial: "shelves/widgets/shelves_nav", locals: nav_locals
