- nav_locals = {title: title, shelves: shelves, link_mode: :public, profile: profile, active_shelf: @shelf}
- nav_locals[:show_all_link] = {label: detone(t("books.all")), path: public_shelves_path(profile)} if @shelf.present?
= render partial: "shelves/widgets/shelves_nav", locals: nav_locals
