- tags = { title: t('my_collections') }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

- pages = {fa('home') => root_url, t('my_collections') => nil}

= content_header( title: t('my_collections'), breadcrumbs: pages)

.row.index-layout
  .col-12
    %section.index-panel
      %header.index-panel__header
        %h1.index-panel__title= detone t('my_collections')
        .index-panel__actions
          = link_to new_shelf_path, class: "btn btn-sm btn-primary btn-icon", title: t('shelves.new') do
            %i.fa.fa-plus{aria: {hidden: true}}

      .index-panel__content.shelves-index__grids
        = render partial: "shelves/shelf_with_books", collection: @shelves, as: :shelf
