%section.index-panel
  %header.index-panel__header
    %h2.index-panel__title
      = fa(icon)
      = title
  .index-panel__content
    .book-list
      = render partial: "books/book", collection: books, as: :book, locals: {rule: true}
