<!-- This widgets is used for dialogs, so it is set to display none.  -->
<div class="widget" id="collections-manager" style="display:none;">  
  <div class="widget-content widget-content-mini themed-background-dark-flat text-light-op border-bottom">
    <i class="fa fa-fw fa-th-large"></i> <strong><%= t('shelves.edit_collections') %></strong>
  </div>      

  <div class="widget-content">
    <i class="fa fa-asterisk fa-2x fa-spin text-primary" style="display:none;"></i>
    <div class="row collections-checkboxes">
      <% shelves.each do |shelf| %>          
        <div class="col-xs-6">
          <label class="csscheckbox csscheckbox-primary">
            <input name=<%= "collection-#{shelf.id}" %> id=<%= "collection-#{shelf.id}" %> type="checkbox"><span></span>
          </label>  
          <%= shelf.screen_name %>  
        </div>           
      <% end if user_signed_in? %>        
    </div>
  </div>
</div>