<% cover_size ||= '114' %>
<% icon ||= 'book' %>

<div class="widget">
  <div class="widget-content widget-content-mini themed-background-dark-flat text-light-op border-bottom">
    <%= fa(icon) %> <strong><%= title %></strong>
  </div>
  <div class="widget-content">
    <div class="row">
      <div class="book-container">
        <% books.each do |book| %>
          <div class="book-cover">
            <%= link_to image_tag(book.cover, height: cover_size, width: cover_size, alt: "book_cover", class: "img-thumbnail", "data-toggle" => "tooltip", "data-placement" => "top", title: book.title), book %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
