- cover_size ||= '114'
- icon ||= 'book'

.widget
  .widget-content.widget-content-mini.themed-background-dark-flat.text-light-op.border-bottom
    = fa(icon)
    %strong= title
  .widget-content
    .row
      .book-container
        - if books.any?
          - books.each do |book|
            .book-cover
              = link_to image_tag(book.cover, height: cover_size, width: cover_size, alt: "book_cover", class: "img-thumbnail", "data-toggle" => "tooltip", "data-placement" => "top", title: book.title), book
        - else
          .text-center
            %span.text-muted
              %small= t('no_books_yet')
