- no_books_msg ||= t('no_books_yet')

%section.index-sidebar-card
  .index-sidebar-card__header
    %h2.index-sidebar-card__title
      %i.fa{class: "fa-#{icon}", aria: {hidden: true}}
      = title

  - if books.any?
    .index-sidebar-card__list
      - books.each do |book|
        = render partial: "books/widgets/book_sidebar_item", locals: {book: book}
  - else
    .index-sidebar-card__empty= no_books_msg
