%section.index-panel.tasks-page__section
  %header.index-panel__header
    %h1.index-panel__title= UnicodeUtils.upcase(detone(t('tasks.import_book_of_day_candidates')))

  .index-panel__content
    %p.tasks-page__hint= t('tasks.book_of_day_description')
    %form{action: tasks_import_botd_candidates_path, method: 'get'}
      .mb-3
        = text_area_tag :book_titles, nil, placeholder: t('tasks.insert_book_title_here'), rows: 10, class: 'form-control'
      .resource-form__actions
        = button_tag t('import.import_label'), type: 'submit', name: nil, class: 'btn btn-primary'
