.col-sm-6.col-lg-3
  .widget
    .widget-content.clearfix{class: bg_klass}
      .widget-icon.pull-right
        = fa(icon)
      %h2.widget-heading.h3.text-light
        %strong= count
      %span= name
