- variant = local_assigns.fetch(:variant, 'flat')

.admin-stat-card{class: "admin-stat-card--#{variant}"}
  .admin-stat-card__icon
    = fa(icon)
  .admin-stat-card__body
    %strong.admin-stat-card__count= count
    %span.admin-stat-card__label= name
