<ul class="breadcrumb breadcrumb-top">
  <% @breadcrumbs.each do |key, value| %>
    <li><%= link_to ellipsize(key), value %></li>
  <% end unless @breadcrumbs.nil? %>

  <li><%= ellipsize(@current_page) %></li>
</ul>
