<%= form_tag({controller: 'home', action: 'index'}, method: 'get') do %>
  <div class="col-sm-8 col-xs-10 input-group">
  	<% if params[:query].present? %>
    <span class="input-group-btn">
    	<%= link_to "clear", {controller: 'home', action: 'index'}, class: "btn btn-default" %>
    </span>  
    <% end %>

    <span id="remote">      
      <%= text_field_tag :query, params[:query], class: 'typeahead form-control input-lg', :placeholder => t("write_search_terms"), autocomplete: "off" %> 
    </span>     	

    <span class="input-group-btn">    	
      <%= button_tag(type: "submit", class: "btn btn-lg btn-effect-ripple btn-primary") do %>
          <i class="fa fa-search"></i>
      <% end %>      
    </span>

  </div>
<% end %>
