
<div class="content-header">
  <div class="row">
     <div class="col-sm-6">
        <div class="header-section">
           <h1><%= t('import.import_data') %></h1>
        </div>
     </div>
     <div class="col-sm-6 hidden-xs">
        <div class="header-section">
           <ul class="breadcrumb breadcrumb-top">
              <li><i class="fa fa-home"></i></li>
              <li><%= t('site_settings') %></li>
              <li><a href=""><%= t('import.import_label') %></a></li>
           </ul>
        </div>
     </div>
  </div>
</div>

<%= render 'form' %>
