.block
  .block-title
    %h1= detone t('about_us')
  %h2
    Καλώς ήρθατε στο Bibliography GR.
  %p
    Όπως θα έχετε ήδη καταλάβει, είστε σε ένα site που σκοπό έχει να σας βοηθήσει να βρείτε
    τις πληροφορίες που αναζητείτε για το εκάστοτε βιβλίο ή συγγραφέα.
  %p
    Το Bibliography ξεκίνησε σαν μια απλή διπλωματική εργασία για την απόκτηση ενός πτυχίου.
    Πλέον, με το πέρασμα των χρόνων έχει μεγαλώσει.
    Ήδη μετράει περί τους 240.000 τίτλους βιβλίων και αυξάνονται τη στιγμή που διαβάζετε αυτές τις γραμμές.
  %p
    Σκοπός του Bibiography είναι να προσφέρει πληροφορίες για το σύνολο της βιβλιογραφίας, προτάσεις και
    οργάνωση των συλλογών αλλά και να δημιουργήσει μια κοινότητα ανταλλαγής απόψεων και συζητήσεων σχετικά με τις
    συλλογές των βιβλίων αυτών.



