.block
  .block-title
    %h1= detone t('privacy_policy')
  %h2
    ΠΟΛΙΤΙΚΗ
    ΠΡΟΣΤΑΣΙΑΣ ΑΠΟΡΡΗΤΟΥ
  %p
    Η παρούσα Πολιτική Προστασίας Απορρήτου (εφεξής «Πολιτική») αφορά τον τρόπο επεξεργασίας  των προσωπικών σας δεδομένων και ειδικότερα τις προϋποθέσεις συλλογής, αποθήκευσης και χρήσης αυτών, κατά την επίσκεψη, εγγραφή η χρήση από μέρους σας του ιστότοπου www.bibliography.gr (εφεξής «Ιστότοπος») και της αντίστοιχης σελίδας bibliography.gr στο Facebook (εφεξής «Σελίδα Facebook»). 
    Η διαχείριση και προστασία των προσωπικών σας δεδομένων ως επισκέπτες και χρήστες των υπηρεσιών του Ιστότοπου και της Σελίδας Facebook υπόκεινται στους όρους του παρόντος κειμένου, καθώς και από τις σχετικές διατάξεις του Ευρωπαϊκού Κανονισμού Προστασίας Προσωπικών Δεδομένων [679/2016 ΓΚΠΔ].
    Οι παρόντες όροι διατυπώνονται λαμβανομένων υπόψη τόσο της ραγδαίας ανάπτυξης της τεχνολογίας και ειδικότερα του διαδικτύου, όσο και της υπάρχουσας νομοθεσίας σχετικά με τα ζητήματα αυτά. Σε κάθε περίπτωση ο υπεύθυνος επεξεργασίας διατηρεί το δικαίωμα αλλαγής των όρων προστασίας των προσωπικών δεδομένων, προκειμένου να διασφαλίζει την συμμόρφωσή με το δυναμικά αναπτυσσόμενο Ελληνικό και Ευρωπαϊκό νομικό πλαίσιο.
  %h3
    Ορισμός των Προσωπικών Δεδομένων και της Επεξεργασίας τους
  %p    
    Προσωπικά δεδομένα είναι πληροφορίες, όπως ονοματεπώνυμο, ταχυδρομική διεύθυνση, ηλεκτρονική διεύθυνση, τηλέφωνο επικοινωνίας, κ.ά., οι οποίες προσδιορίζουν ή μπορούν συνδυαστικά με άλλες πληροφορίες να προσδιορίσουν την ταυτότητα ενός φυσικού προσώπου, επισκέπτη/ χρήστη του Ιστότοπου ή της Σελίδας Facebook. Επεξεργασία προσωπικών δεδομένων αποτελεί η συλλογή, καταχώρηση, οργάνωση, αποθήκευση, προσαρμογή, μεταβολή, ανάκτηση, αναζήτηση πληροφοριών, χρήση, διαβίβαση σε τρίτους, διάδοση, συσχέτιση, συνδυασμός, περιορισμός, διαγραφή και καταστροφή προσωπικών δεδομένων φυσικών προσώπων. Η επεξεργασία περιλαμβάνει κάθε πράξη, που πραγματοποιείται από τον Υπεύθυνο Επεξεργασίας σε δεδομένα προσωπικού χαρακτήρα των χρηστών του Ιστότοπου ή της Σελίδας.
  %h3
    Συλλογή των Προσωπικών σας Δεδομένων
  %p    
    Κατά κύριο λόγο συλλέγουμε τα στοιχεία σας απευθείας από εσάς, κατά την εγγραφή σας σε υπηρεσίες ή κατά την επικοινωνία σας μαζί μας. Επιπλέον, συλλέγουμε προσωπικά δεδομένα σας παθητικά μέσω εργαλείων εντοπισμού, όπως cookies και beacons. Τέλος, συλλέγουμε δεδομένα και από τρίτα μέρη, όπως πλατφόρμες κοινωνικής δικτύωσης [Facebook, Instagram, Twitter, YouTube]. Ο τρόποι συλλογής των δεδομένων σας αποτυπώνονται στα ακόλουθα στάδια:
    Α) Κατά την επίσκεψη και πλοήγηση σας στον Ιστότοπο, δεδομένα σας συλλέγονται μόνο από τα cookies που έχετε επιτρέψει με την συγκατάθεση σας να χρησιμοποιηθούν, τα οποία αναφέρονται αναλυτικά στην Χρήση Cookies εδώ https://bibliography.gr/cookies-policy.
    Β) Κατά την εγγραφή σας ως χρήστης στην υπηρεσία μας, προκειμένου να αναρτήσετε σχόλια στον Ιστότοπο, συλλέγουμε το όνομα χρήστη (username) και τη διεύθυνση ηλεκτρονικού ταχυδρομείου σας (email) ή το όνομα χρήστη, που διαθέτετε στη Google (Google username) ή στο Facebook (Facebook username). Προαιρετικά καταχωρείτε φωτογραφία ή απεικόνιση, που σας αντιπροσωπεύει, καθώς και ημερομηνία γέννησης, προκειμένου να διαπιστωθεί εάν είστε ενήλικος.
    Γ) Για να επικοινωνήσετε μαζί μας συμπληρώνετε στην αντίστοιχη φόρμα επικοινωνίας, το ονοματεπώνυμο και τη διεύθυνση ηλεκτρονικού ταχυδρομείου σας (email), τα οποία συλλέγουμε μαζί με το σχόλιό σας για να σας απαντήσουμε.
    Δ) Σε περίπτωση που συμμετέχετε σε κάποιον από τους διαγωνισμούς που διοργανώνουμε, θα συλλέξουμε και αποθηκεύσουμε ορισμένα προσωπικά δεδομένα σας, τα οποία είναι αναγκαία για τους σκοπούς της διεξαγωγής του διαγωνισμού και της απονομής των δώρων στους νικητές (π.χ. ονοματεπώνυμο, email, τηλέφωνο, ΑΜΚΑ).
    Ε) Δεν συλλέγουμε προσωπικά δεδομένα από ανήλικους δίχως τη συγκατάθεση του κηδεμόνα τους. Αν αντιληφθούμε ότι ένας ανήλικος επιχειρεί να υποβάλει τα προσωπικά του δεδομένα, θα αφαιρέσουμε τα δεδομένα αυτά από τα αρχεία μας. Αν είστε γονέας/κηδεμόνας ενός ανηλίκου που έχει υποβάλει τα προσωπικά του δεδομένα, επικοινωνήστε μαζί μας για να τα διαγράψουμε.
    ΣΤ) Ο Ιστότοπος χρησιμοποιεί εξωτερικές υπηρεσίες καταγραφής επισκεψιμότητας, όπως την Google Analytics. Η Google Analytics μας παρέχει ανωνυμοποιημένα δεδομένα για να καθορίσουμε τον αριθμό των ατόμων που χρησιμοποιούν τον Ιστότοπό μας, για να κατανοήσουμε καλύτερα τον τρόπο με τον οποίο βρίσκουν και χρησιμοποιούν τις ιστοσελίδες μας και για να δούμε  την πορεία τους  μέσα στον  Ιστότοπο. Παρόλο που η Google Analytics χρησιμοποιεί cookies για να καταγράφει δεδομένα, όπως η γεωγραφική σας θέση, η συσκευή σας, το πρόγραμμα περιήγησης  στο διαδίκτυο και το λειτουργικό σας σύστημα, καμία από αυτές τις πληροφορίες δεν συνδέεται με το πρόσωπό σας και δεν σας ταυτοποιεί. Σημειώνουμε ότι η Google είναι ένας τρίτος φορέας επεξεργασίας δεδομένων. 
  %h3
    Σκοπός και Νόμιμη Βάση Επεξεργασίας των Δεδομένων σας
  %p    
    Επεξεργαζόμαστε τα Δεδομένα σας για τους παρακάτω σκοπούς και ιδίως για: 
    Α) την διαχείριση του Ιστότοπου και των συνδεδεμένων εφαρμογών,
    Β) την παρακολούθηση της επισκεψιμότητας του Ιστότοπου,
    Γ) την βελτιστοποίηση της πλοήγησης στον Ιστότοπο και της εμπειρίας του επισκέπτη και χρήστη των εμπεριεχόμενων υπηρεσιών,
    Δ) την επικοινωνία και ενημέρωση των επισκεπτών,
    Ε) τη ανάρτηση σχολίων αναφορικά με δημοσιευμένα κείμενα στην πλατφόρμα του Ιστότοπου, 
    ΣΤ) τη διεξαγωγή διαγωνισμών και την απονομή των δώρων στους νικητές,
    Ζ) την προβολή σας στους κατάλληλους διαφημιστικούς χώρους του Ιστότοπου,
    Η) την ενάσκηση των νόμιμων δικαιωμάτων μας.
  %p
    Κάθε επεξεργασία των προσωπικών σας δεδομένων απαιτεί συγκεκριμένο και νόμιμο λόγο σύμφωνα με την υφιστάμενη νομοθεσία. Για το λόγο αυτό φροντίζουμε κάθε χρήση των στοιχείων σας να στηρίζεται σε μια από τις παρακάτω νομμιμοποιητικές βάσεις : 
    Α) στην συγκατάθεση του χρήστη στις περιπτώσεις εγγραφής του στις υπηρεσίες του Ιστότοπου [My Gazzetta], καθώς και την χρήση cookies.
    B) στην εκτέλεση σύμβασης, όπως αυτή δημιουργείται με την συμμετοχή των επισκεπτών σε Διαγωνισμούς στην Ιστοσελίδα και στη Σελίδα Facebook.
    Γ) στην εξασφάλιση των νόμιμων συμφερόντων μας, δίχως αυτά να καταστρατηγούν τα δικαιώματα των χρηστών, όπως συμβαίνει κατά την διεκδίκηση αστικών αξιώσεων.
    Δ) στη συμμόρφωση με διατάξεις του Νόμου, όπως στην περίπτωση καταγγελίας παράνομης δραστηριότητας χρήστη στις αρμόδιες Αρχές.
  %h3
    Πρόσβαση και Διαβίβαση των Προσωπικών σας Δεδομένων
  %p    
    Πρόσβαση στα προσωπικά σας δεδομένα έχει το απολύτως απαραίτητο προσωπικό του Υπεύθυνου Επεξεργασίας και οι συνεργαζόμενες με εμάς επιχειρήσεις, οι οποίες επεξεργάζονται τα Δεδομένα σας ως Εκτελούντες την Επεξεργασία για λογαριασμό μας και σύμφωνα με τις εντολές μας. Οι συνεργαζόμενες εταιρείες προσφέρουν υπηρεσίες διαχείρισης του Ιστότοπου και της Σελίδων Κοινωνικής Δικτύωσης, τεχνικής υποστήριξης και συντήρησης, διαχείρισης ανάρτησης σχολίων, διεξαγωγής διαγωνισμών και χορήγησης δώρων, ανάλυσης δεδομένων και επιχειρηματικών δραστηριοτήτων ή/και πληροφοριακών συστημάτων υποστήριξης και marketing, ανάλυσης μετρήσεων. Οι Εκτελούντες υποχρεούνται συμβατικά από εμάς να τηρούν εχεμύθεια, να μη κοινοποιούν Δεδομένα σε τρίτους χωρίς την άδεια του Υπεύθυνου Επεξεργασίας, να λαμβάνουν κατάλληλα μέτρα ασφαλείας, να συμμορφώνονται με το νομικό πλαίσιο για την προστασία των προσωπικών δεδομένων και ιδίως τον ΓΚΠΔ.
    Επιπλέον, ενδέχεται να γνωστοποιήσουμε τα Δεδομένα σας, όταν το έχετε ζητήσει εσείς ρητά ή όταν απαιτείται εκ του νόμου, όπως π.χ. αν μας ζητηθούν από τις αστυνομικές αρχές προς διερεύνηση παρανόμων δραστηριοτήτων.
    Τα Δεδομένα σας δεν διαβιβάζονται εκτός του Ευρωπαϊκού Οικονομικού Χώρου (ΕΟΧ). Σε τυχόν περίπτωση που κριθεί απαραίτητη η διαβίβαση των δεδομένων σας σε χώρες εκτός ΕΟΧ, θα διασφαλίσουμε ότι τα δικαιώματα και οι ελευθερίες σας σχετικά με την επεξεργασία των προσωπικών σας δεδομένων θα προστατευτούν καταλλήλως και δεόντως. Στο μέτρο που αποτελεί υποχρέωση μας, θα διασφαλίσουμε ότι θα εκτελεστεί βάσει συμβατικών συμφωνιών χρησιμοποιώντας τυποποιημένες συμβατικές ρήτρες, εγκεκριμένες από την Ευρωπαϊκή Επιτροπή ή άλλες ενδεδειγμένες ασφαλιστικές δικλείδες σύμφωνα με την ισχύουσα νομοθεσία. 
  %h3
    Διατήρηση και Ασφάλεια των Προσωπικών σας Δεδομένων
  %p    
    Τα προσωπικά δεδομένα σας διατηρούνται για όσο χρονικό διάστημα διαρκεί ο νόμιμος σκοπός της επεξεργασίας, για την οποία είχαν συλλεγεί αρχικά, κατόπιν ελεύθερης συγκατάθεσής.
    Για την διατήρηση των δεδομένων εφαρμόζουμε το κατάλληλο επίπεδο ασφαλείας και έχουμε υλοποίησει εύλογες φυσικές, ηλεκτρονικές, και διοικητικές διαδικασίες για την αποφυγή τυχαίας ή παράνομης καταστροφής, απώλειας, αλλοίωσης, μη εξουσιοδοτημένης γνωστοποίησης ή πρόσβασης σε δεδομένα προσωπικού χαρακτήρα που διαβιβάζονται, αποθηκεύονται ή αποτελούν με διαφορετικό τρόπο αντικείμενο επεξεργασίας. Οι πολιτικές και διαδικασίες μας ασφάλειας πληροφοριών είναι στενά ευθυγραμμισμένες με τα διεθνή πρότυπα και αναθεωρούνται τακτικά και επικαιροποιούνται, όποτε απαιτείται προκειμένου να πληρούν τις επιχειρηματικές ανάγκες μας, αλλαγές στην τεχνολογία και τις κανονιστικές απαιτήσεις. 
  %p
    Διαγράφουμε τα Δεδομένα, τα οποία συλλέγουμε από εσάς, εάν δεν είναι πλέον αναγκαίο να επιτευχθούν οι σκοποί για τους οποίους συλλέχθηκαν αρχικά. Τα δεδομένα που έχουν συλλεχθεί αποκλειστικά με σκοπό την επικοινωνία του χρήστη μαζί μας ή την ενημέρωση ενδιαφερομένων για διαφήμιση από τις αντίστοιχες φόρμες συλλογής του Ιστότοπου, διατηρούνται κατά τη διάρκεια της επικοινωνίας και διαγράφονται εντός [3] τριών μηνών από την παύση της. Ωστόσο, ενδέχεται να μας ζητηθεί να αποθηκεύσουμε τα προσωπικά σας δεδομένα για μεγαλύτερο χρονικό διάστημα λόγω νομοθετικών διατάξεων.Τα Δεδομένα που συλλέγουν τα Cookies, τα διαγράφουμε σύμφωνα με την Πολιτική Cookies.
  %h3
    Τα νόμιμα Δικαιώματά σας
  %p    
    Ως υποκείμενο των δεδομένων έχετε συγκεκριμένα νόμιμα δικαιώματα, που αφορούν τα προσωπικά δεδομένα που συλλέγουμε από εσάς : 
    Πρόσβαση:  Έχετε το δικαίωμα να ενημερωθείτε εάν και με ποιό τρόπο επεξεργαζόμαστε προσωπικά σας δεδομένα ανά πάσα στιγμή και χωρίς κάποια χρέωση. 
    Επικαιροποίηση: Μπορείτε να ζητήσετε τη διόρθωση προσωπικών δεδομένων, τα οποία είναι ελλιπή ή εσφαλμένα. 
    Διαγραφή: Μπορείτε να ζητήσετε τη διαγραφή των δεδομένων σας, αν δεν είναι απαραίτητα πλέον για τους σκοπούς επεξεργασίας για τους οποίους συλλέχθηκαν αρχικά ή αν επιθυμείτε να ανακαλέσετε την συγκατάθεσή σας και δεν υπάρχει άλλη νομική βάση επεξεργασίας.
    Εναντίωση:  Μπορείτε να προβάλετε ανά πάσα στιγμή αντίρρηση στην επεξεργασία των προσωπικών δεδομένων σας, την οποία θα σεβαστούμε με την προϋπόθεση μη ύπαρξης άλλων νόμιμων λόγων. 
    Περιορισμοί επεξεργασίας:  Μπορείτε να μας ζητήσετε τον περιορισμό της επεξεργασίας των προσωπικών σας δεδομένων, εάν αμφισβητείτε την ακρίβεια τους ή την νομιμότητα της επεξεργασίας.
    Φορητότητα: Μπορείτε να μας ζητήσετε να λάβετε σε αναγνώσιμη μορφή τα δεδομένα, που έχετε παράσχει ή να μας ζητήσετε να τα διαβιβάσουμε σε άλλον υπεύθυνο επεξεργασίας.
    Δικαίωμα ανάκλησης της συγκατάθεσης: Έχετε το δικαίωμα να ανακαλέσετε τη συγκατάθεσή σας ανά πάσα στιγμή, χωρίς να επηρεάζεται η νομική βάση της επεξεργασίας των δεδομένων σας εκ μέρους μας βάσει της εν λόγω συγκατάθεσης πριν από την ανάκλησή της.
  %p
    Προκειμένου να ασκήσετε τα νόμιμα δικαιώματά σας, παρακαλούμε επικοινωνήστε στο privacy@bibliography.gr εγγράφως μέσω ηλεκτρονικού ταχυδρομείου. Θα προσπαθήσουμε να ικανοποιήσουμε το αίτημά σας εντός 30 ημερών. Ωστόσο, η προθεσμία μπορεί να παραταθεί για συγκεκριμένους λόγους που αφορούν το συγκεκριμένο νομικό δικαίωμα ή η πολυπλοκότητα του αιτήματός σας. Ενδέχεται να ζητήσουμε αποδεικτικό της ταυτότητάς σας, για λόγους ταυτοποίησης, πριν απαντήσουμε σε αίτημά σας. Σε ορισμένες περιπτώσεις, ενδέχεται να μην μπορέσουμε να επιτρέψουμε την πρόσβαση σε συγκεκριμένα προσωπικά δεδομένα (π.χ., αν τα προσωπικά σας δεδομένα σχετίζονται με προσωπικά δεδομένα άλλων ατόμων ή για νομικούς λόγους). 
    Έχετε δικαίωμα να υποβάλετε καταγγελία στην Αρχή Προστασίας Προσωπικών Δεδομένων (ταχυδρομική δ/νση Κηφισίας 1-3, Τ.Κ. 115 23, Αθήνα, τηλ. 210 6475600, δ/νση ηλεκτρονικού ταχυδρομείου (e-mail): contact@dpa.gr), αν θεωρείτε ότι η επεξεργασία των Προσωπικών Δεδομένων σας παραβιάζει τον ισχύον εθνικό και κανονιστικό πλαίσιο δίκαιο για την προστασία των προσωπικών δεδομένων.