- award = book.awards.first
- meta = nil
- if award
  - meta = local_assigns[:prize_id].present? ? award.year.to_s : "#{award.year} · #{award.prize.name}"

= render partial: "books/widgets/book_card", locals: {book: book, meta: meta}
