#collectionsModal.modal.fade{:role => "dialog", :tabindex => "-1",
  data: {
    controller: "collections-modal",
    collections_modal_success_message_value: t('notifications.changes_saved_successfully'),
    collections_modal_error_message_value: t('notifications.changed_saved_failed'),
    collections_modal_add_label_value: t('books.add'),
    collections_modal_added_label_value: t('books.added'),
    collections_modal_add_tooltip_value: t('shelves.add_to_collections'),
    collections_modal_edit_tooltip_value: t('shelves.edit_collections')
  }}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{type: "button", aria: {label: "Close"}, data: {action: "click->collections-modal#close"}}
          %span=fa('times')
        %h4.modal-title=t('shelves.edit_collections')
      .modal-body
        %i.fa.fa-asterisk.fa-2x.fa-spin.text-primary{style: "display:none;", data: {collections_modal_target: "spinner"}}
        .row.collections-checkboxes{data: {collections_modal_target: "checkboxes"}}
          - if user_signed_in?
            - @shelves.each do |shelf|
              .col-12.col-sm-6
                .form-check.collections-modal__check
                  %input.form-check-input{type: "checkbox", name: "collection-#{shelf.id}", id: "collection-#{shelf.id}"}
                  %label.form-check-label{for: "collection-#{shelf.id}"}= shelf.screen_name
      .modal-footer
        %button.btn.btn-sm.btn-danger{type: "button", data: {action: "click->collections-modal#close"}}= t('cancel')
        %button#saveCollections.btn.btn-sm.btn-primary{type: "button", data: {action: "click->collections-modal#save"}}= t('save')
