- pages = {fa('home') => root_url, t('books.label') => books_path, t('books.new') => nil}

= content_header(breadcrumbs: pages)

.row.index-layout
  .col-lg-10.col-xl-9
    %section.index-panel.resource-form
      %header.index-panel__header
        %h1.index-panel__title= detone t('books.new')

      .index-panel__content
        = render 'form'

        .resource-form__footer-links
          = link_to t('back'), books_path
