# Sample configuration file for Sidekiq.
# Options here can still be overridden by cmd line args.
#   sidekiq -C config.yml
#
# We define 2 queues, a top_priority queue which will it is checked 5 times
# the normal_priority queue will be checked only one time.
# This will cause the top_priority items to be processed first in average
# even though they can be added afterwards (of normal jobs) to the queue
---
:verbose: true
:concurrency: 10
:timeout: 30000
:queues:
  - [bibliography_production_recommendable, 10]
  - [recommendable, 10]
  - [bibliography_production_searchkick, 8]
  - [searchkick, 8]
  - [bibliography_production_mailers, 5]
  - [mailer, 5]
  - [network_ops, 3]
  - [bibliography_production_maintenance, 2]
  - [maintenance, 2]
  - [bibliography_production_default, 1]
  - [default, 1]