<% if page.current? %>
  <li class="page-item active" aria-current="page">
    <%= content_tag :a, page, class: "page-link", rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, class: "page-link", rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
