function buildBookCommentHtml(options) {
  var size = options.size || 40;
  var credentials = "{'email': '" + options.email + "', 'token': '" + options.token + "'}";

  return '\
    <li class="book-comment" id="comment-' + options.id + '">\
      <div class="book-comment__layout">\
        <a href="/library/' + options.userId + '/" class="book-comment__avatar-link">\
          <img src="' + options.avatar + '" alt="Avatar" width="' + size + '" height="' + size + '" class="book-comment__avatar">\
        </a>\
        <div class="book-comment__body">\
          <div class="book-comment__header">\
            <a href="/library/' + options.userId + '/" class="book-comment__author">' + options.userName + '</a>\
            <button type="button" class="book-comment__delete delete-comment" onclick="deleteComment(' + options.bookId + ', ' + options.id + ', ' + credentials + ')" aria-label="Delete">\
              <i class="fa fa-trash-o"></i>\
            </button>\
          </div>\
          <div class="book-comment__text"><p>' + options.body + '</p></div>\
        </div>\
      </div>\
    </li>\
  ';
}

$('.books.show').ready(function() {
  $('.post-comment').click(function(){
    var form = $(this).parent();
    var book_id = form.find("input[name='book_id']").val();
    var parent_id = form.find("input[name='parent_id']").val();
    var email = form.find("input[name='email']").val();
    var token = form.find("input[name='token']").val();
    var comment_area = form.find('.comment-area');
    var comment = comment_area.val();

    comment_area.val('');

    if(comment && comment.length > 0){
      var btnTextNormal = form.find('button.post-comment').html();
      var btnTextPressed = '<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>' + btnTextNormal;
      form.find('button.post-comment').html(btnTextPressed);

      $.ajax({
        type:"POST",
        contentType: "application/json",
        dataType:"json",
        beforeSend: function (request) {
          request.setRequestHeader("Authorization", 'Token token="'+token+'", email="'+email+'"');
        },
        url: "/api/v1/books/" + book_id + "/comments/",
        data: JSON.stringify({
          "comment": {
            "body": comment.replace(/\r?\n{2,}/g, '<br/><br/>').replace(/\r?\n/g, '<br/>'),
            "parent_id": parent_id
          }
        }),
        processData: false,
        success: function(data) {
          var commentHtml = buildBookCommentHtml({
            id: data.comment.id,
            bookId: book_id,
            userId: data.comment.user.id,
            avatar: data.comment.user.image,
            userName: data.comment.user.name,
            body: data.comment.body,
            email: email,
            token: token,
            size: 32
          });

          $('#comment-form-block-' + parent_id).before(commentHtml);
          form.find('button.post-comment').html(btnTextNormal);
        }
      });
    }
  });

  $('#postReviewBtn').click(function(){
    var form = $("#reviewForm");
    var book_id = form.find("input[name='book_id']").val();
    var email = form.find("input[name='email']").val();
    var token = form.find("input[name='token']").val();
    var comment_area = form.find("input[name='comment[body]']")
    var comment = comment_area.val();

    if(comment && comment.length > 0){
      var btnTextNormal = $('#postReviewBtn').html();
      var btnTextPressed = '<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>' + btnTextNormal;
      $('#postReviewBtn').html(btnTextPressed);

      $.ajax({
        type:"POST",
        contentType: "application/json",
        dataType:"json",
        beforeSend: function (request) {
          request.setRequestHeader("Authorization", 'Token token="'+token+'", email="'+email+'"');
        },
        url: "/api/v1/books/" + book_id + "/comments/",
        data: JSON.stringify({ "comment": {"body": comment} }),
        processData: false,
        success: function(data) {
          if (window.hideModal) {
            window.hideModal(document.getElementById('reviewModal'));
          }

          var commentHtml = buildBookCommentHtml({
            id: data.comment.id,
            bookId: book_id,
            userId: data.comment.user.id,
            avatar: data.comment.user.image,
            userName: data.comment.user.name,
            body: data.comment.body,
            email: email,
            token: token,
            size: 40
          });

          $('#reviews-list').prepend(commentHtml);
          var editor = document.querySelector("trix-editor").editor;
          editor.setSelectedRange([0, comment.length]);
          editor.deleteInDirection("backward");
          $('#reviewBtn').remove();
        }
      });
    }
  });

  $('.write-comment-btn').click(function(){
    $('.book-comment-form__form').hide();
    $('.write-comment-btn').show();
    $(this).prev('.book-comment-form__form').show();
    $(this).hide();
  });

  deleteComment = function (book_id, comment_id, credentials){
    $.ajax({
      type:"DELETE",
      contentType: "application/json",
      dataType:"json",
      beforeSend: function (request) {
        request.setRequestHeader("Authorization", 'Token token="'+credentials.token+'", email="'+credentials.email+'"');
      },
      url: "/api/v1/books/" + book_id + "/comments/" + comment_id,

      success: function(data) {
        $('#comment-'+ comment_id).remove();
      }
    });
  };

  postReview = function(){
    console.log("review will post!");
  }

});
