// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}


// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}

.form-control {
  height: auto
}

.pagination {
  margin: 0;
}

.pagination>li>a {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.btn-fb {
  background-color: #3b5998 !important;
  border-color: #8b9dc3;
  color: #f7f7f7;
  font-size: 12px;

  &:hover, &:visited{
    background-color: darken( #3b5998, 10% ) !important;
    color: #f7f7f7;
  }
}

.btn-gl {
  background-color: #F44336 !important;
  border-color: lighten( #F44336, 10% );
  color: #f7f7f7;
  font-size: 12px;

  &:hover, &:visited{
    background-color: darken( #F44336, 10% ) !important;
    color: #f7f7f7;
  }
}
