// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container {	
    height: 160px;    
  	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;    
}

.image-container:hover {
    -webkit-filter: grayscale(100%);
}

.block-section pre {
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 5px;
  color: #417ba0;
}

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
  overflow: hidden !important; 
}