// Welcome guide page

.featured-category {
  padding: 5px 10px;
  margin-bottom: 3px;
  width: 100%;
}

.featured-category:hover, .featured-category.selected  {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1px #afde5c;
  -webkit-box-shadow: inset 0px 0px 0px 1px #afde5c;
  -moz-box-shadow: inset 0px 0px 0px 1px #afde5c;
  -o-box-shadow: inset 0px 0px 0px 1px #afde5c;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#rateable-books-wrapper{
  .rateable-book{
    width: 114px;
    height: 200px;
    text-align: center;
    margin: 0 10px 10px 10px;
    float: left;

    .book-cover{
      margin: 0 10px 10px 0;
    }
  }
}

.loading-wrapper{
   &.loading {
    height: 100px;
    background-color: #fff;
    background-image: image-url("spinners/spinner3.gif");
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
