// Welcome guide page

.featured-category {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  font-style: bold;
}

.featured-category:hover, .featured-category.selected  {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1px #afde5c;
  -webkit-box-shadow: inset 0px 0px 0px 1px #afde5c;
  -moz-box-shadow: inset 0px 0px 0px 1px #afde5c;
  -o-box-shadow: inset 0px 0px 0px 1px #afde5c;
}

