.tt-query,
.tt-hint {
  font-size: 14px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 35px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-dataset {
  height: 50vh;
  overflow: scroll;
}

.multisearch {
  .tt-menu {
    margin: 45px 0;
  }
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  margin: 0;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #de4b39;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #de4b39;
}

.tt-suggestion p {
  margin: 0;
}

.tt-empty-message {
  padding: 0 10px;
}

.tt-result{
  border-bottom: 1px solid #ddd;
  height: 64px;
  padding:5px;
  overflow: hidden;

  .tt-result-cover{
    float:left;
  }
  .tt-result-details{
    left:10px;
  }

  .tt-result-cover, .tt-result-details {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
  }
}

#remote input.loading{
  background-color: #fff;
  background-image: image-url("spinners/spinner3.gif");
  background-size: 25px 25px;
  background-position:right center;
  background-repeat: no-repeat;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
