- cache(category) do
  - active = local_assigns[:current_category]&.id == category.id

  = link_to category, class: ["category-nav__link", ("category-nav__link--active" if active)], id: "category_#{category.id}" do
    %span.category-nav__name= category.name
    - if category.ddc.present?
      %span.category-nav__code= category.ddc
