<%= link_to category, class: "list-group-item", id: "category_#{category.id}" do %>
  <span class="badge"><%= "[#{category.ddc}]" %></span>
  <h4 class="list-group-item-heading">
    <strong>
      <%= "#{category.name}" %>
    </strong>   
  </h4> 
<% end %>



