= render partial: 'books/widgets/grid',                            |
  locals: {                                                        |
  title: link_to(category.name, category, class: "text-light-op"), |
  books: category.books.limit(10),                                 |
  icon: 'tag'}                                                     |
