<div class="block">
  <div class="block-title">
    <h2><%= t('categories.editing') %></h2>
  </div>
  <%= render 'form' %>
</div>  

<%= link_to t('show'), @category %> |
<%= link_to t('back'), categories_path %>
