- tags = { title: t('categories.label') }
- set_meta_tags tags.merge({og: tags}).merge(twitter: tags)

= content_header( content: render(partial: 'shared/search_form',                                                        |
  locals: {action: categories_path, placeholder: t('categories.search')}), breadcrumbs: {fa('home') => root_url, t('categories.label') => nil}) |

.row
  .col-sm-8
    - @featured.each do |category|
      = render partial: 'books/widgets/grid',                                         |
        locals: {                                                                     |
        title: link_to(category.name, category),                                      |
        books: category.get_popular_books,                                            |
        icon: 'tag'}                                                                  |
  .col-sm-4
    = render partial: "categories/category_nav", locals: { title: t('categories.all'), categories: @categories, new_path: (policy(Category).new? ? new_category_path : nil), new_tooltip: t('categories.new') }
