<%= cell(:navigation).call(:content_header, title: t('categories.listing'), breadcrumbs: {fa('home') => root_url, t('categories.label') => nil}) %>

<div class="row">
   <div class="col-sm-12">
      <div class="block">
        <div class="block-title">
          <div class="block-options pull-right">
            <%= cell(:navigation).call(:btn_link_to, name: fa('plus'), url: new_category_path, tooltip: t('categories.new')) if policy(Category).new? %>
          </div>
          <h2><%= t('categories.all') %></h2>
        </div>  
        <div class="list-group">
          <%= render @categories %>
        </div>              
      </div>
  </div>
</div>



