- authors = Array(local_assigns[:authors]).compact
- no_authors_msg = local_assigns[:empty_message].presence || t("no_authors_yet")
- cache_stamp = authors.filter_map(&:updated_at).max

- cache([cache_key, authors.map(&:id), cache_stamp]) do
  %section.index-sidebar-card
    .index-sidebar-card__header
      %h2.index-sidebar-card__title
        %i.fa{class: "fa-#{icon}", aria: {hidden: true}}
        = title

    - if authors.any?
      .index-sidebar-card__list
        - authors.each do |author|
          - cache(author) do
            = render partial: "authors/widgets/author_sidebar_item", locals: {author: author, liked_ids: local_assigns[:liked_ids]}
    - else
      .index-sidebar-card__empty= no_authors_msg
