
<p>
  <strong>Name:</strong>
  <%= @prize.name %>
</p>

<h3>Awarded authors</h3>
<div id="awards">
  <%= render :partial =>  "prizes/awardee", :collection => @prize.awards, :as => :award %>
</div>


<%= link_to 'Edit', edit_prize_path(@prize) if policy(@prize).update? %> <br>
<%= link_to 'Back', prizes_path %>
