<form action=<%= @url %> method="get">
  <div class="col-xs-8 input-group">
    <span id="remote">      
      <%= text_field_tag :query, params[:query], class: 'typeahead form-control', :placeholder => @placeholder %> 
    </span>       

    <span class="input-group-btn">       
      <button name="button" type="submit" class="btn btn-effect-ripple btn-primary">
        <i class="fa fa-search"></i>
      </button>          
    </span>
  </div>
</form>