%form{action: @url, method: "get"}
  .col-xs-12.input-group
    %span#remote
      = text_field_tag :query, params[:query], class: 'typeahead form-control', :placeholder => @placeholder
    %span.input-group-btn
      %button.btn.btn-effect-ripple.btn-primary{:name => "button", :type => "submit"}
        %i.fa.fa-search
