.content-header
  - if breadcrumbs.present?
    .content-header__breadcrumb
      = render partial: "navigation/breadcrumb", locals: { breadcrumbs: breadcrumbs }

  .content-header__main
    .header-section
      - if title
        %h1.content-header__title= title
      - if content
        .content-header__content= content
