.content-header
  .row
    .col-sm-6
      .header-section
        - if title
          %h1= title
        - if content
          = content
    .col-sm-6.hidden-xs
      .header-section
        = render partial: 'navigation/breadcrumb', locals: { breadcrumbs: breadcrumbs }
