.widget
  .widget-content.widget-content-mini
    %span.pull-right.text-muted= l(DateTime.now, format: "%a, %d %b %Y")
    = fa('certificate')
    %strong=t('book_of_the_day')
  .widget-content
    = render partial: "books/book", locals: {book: @book_of_the_day, rule: false}
