%section.index-panel.book-of-the-day-widget
  %header.index-panel__header.book-of-the-day-widget__header
    %span.book-of-the-day-widget__date= l(DateTime.now, format: "%a, %d %b %Y")
    %h2.index-panel__title.book-of-the-day-widget__label
      = fa("certificate")
      = t("book_of_the_day")

  .index-panel__content
    = render partial: "books/book_highlight", locals: {book: @book_of_the_day}
