.widget
  .widget-content.themed-background-muted.text-center
    .fb-like{"data-action" => "like", "data-href" => "https://bibliography.gr/", "data-layout" => "standard", "data-share" => "false", "data-show-faces" => "true", "data-size" => "small"}
