<div class="widget">  
  <div class="widget-content widget-content-mini themed-background-dark-flat text-light-op border-bottom">
    <i class="fa fa-fw fa-book"></i> <strong><%= t('my_books') %></strong>
  </div>      
  <div class="widget-content">                
     <div class="row">
        <% @shelves.each do |shelf| %>
          <div class="col-xs-6 col-sm-4">
            <div class="row">
              <div class="col-xs-10">
                <%= link_to shelf.screen_name, shelf %>  
              </div> 
              <div class="col-xs-2">
                <span class="pull-right"><%= shelf.books.count %></span>
              </div>
            </div>
          </div>
        <% end %>  
     </div>

     <div class="push-bit-top">
        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;"><i class="fa fa-facebook"></i> Like</a>
        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-primary" style="overflow: hidden; position: relative;"><i class="fa fa-twitter"></i> Tweet</a>
     </div>
  </div>
</div>