- if user_signed_in? && @people_to_follow.any?
  %section.index-sidebar-card
    .index-sidebar-card__header
      %h2.index-sidebar-card__title
        %i.fa.fa-users{aria: {hidden: true}}
        = t('similar_users')

    .home-people__grid
      - @people_to_follow.each do |u|
        = link_to public_profile_path(u.profile), class: "home-people__link", title: u.screen_name do
          = image_tag(u.avatar, alt: u.screen_name, class: "home-people__avatar", loading: "lazy")
