<div class="widget">  
  <div class="widget-content widget-content-mini themed-background-dark-flat text-light-op border-bottom">
    <i class="fa fa-fw fa-clock-o"></i> <strong><%= t('recently_added') %></strong>
  </div>      
  <div class="widget-content">                
     <div class="row">
        <% @recently_added.each do |book| %>
          <div class="col-xs-auto col-xs-3 col-sm-auto col-sm-2">
            <div class="image-container">
            <%= link_to image_tag(book.image, alt: "book_cover", class: "img-thumbnail center-block", 'data-toggle' => "tooltip", "data-placement" => "top", title: book.title), book %>     
            </div>       
          </div>          
        <% end %>         
     </div>
  </div>
</div>