        <!-- BEGIN MAIN LEFT NAVIGATION SIDEBAR -->
        <div id="sidebar">
          <div id="sidebar-brand" class="themed-background">
            <%= link_to root_path, class: "sidebar-title" do  %>
              <i class="fa fa-book"></i> <span class="sidebar-nav-mini-hide"><strong>Bibliography</strong>GR</span>
            <% end %>            
          </div>
          
          <div id="sidebar-scroll">
            <div class="sidebar-content">
              <ul class="sidebar-nav">                
                <%= render "layouts/navigation_sidebar_links" %>
              </ul>              
            </div>
          </div>
        
          <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">            
            <div class="text-center">
              <small>Crafted with <i class="fa fa-heart text-danger"></i> by <a href="https://github.com/dklisiaris" target="_blank">dklisiaris</a></small><br>
              <small>&copy; 20[0-9]{2} Copyleft<br><a href="#" target="_blank">Bibliography Foundation</a></small>
            </div>
          </div>
        </div>
        <!-- END MAIN LEFT NAVIGATION SIDEBAR -->